[submodule "fontFeatures"]
	path = fontFeatures
	url = https://www.github.com/simoncozens/fontFeatures
	branch = master
[submodule "fonttools"]
	branch = class-based-contextuals
	path = fonttools
	url = https://github.com/simoncozens/fonttools
